
  <div class="container my-2">
    <center>
      <ul class="list-group">
        <li class="list-group-item active">Your Profile</li>
        <li class="list-group-item"><h5>Username : <%= current_user.username%></h5></li>
        <li class="list-group-item"><h5>First Name: <%= current_user.firstname%></h5></li>
        <li class="list-group-item"><h5>Last Name : <%= current_user.lastname%></h5></li>
        <li class="list-group-item"><h5>Email : <%= current_user.email%></h5><br></li>
      </ul><br>
    </center>
        <center>
          <%= link_to 'Edit Profile',edit_user_registration_path, :class => 'btn btn-primary' %>
        </center>

  </div>
